<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Learn or Fight</title>
</head>
<body>

    <header class="header">
        <h1>Learn or Fight</h1>
    </header>

    <div class="login-container">
        <label for="username">Nom d'utilisateur:</label>
        <input type="text" id="username" placeholder="Entrez votre nom d'utilisateur">

        <label for="password">Mot de passe:</label>
        <input type="password" id="password" placeholder="Entrez votre mot de passe">

        <button onclick="checkLogin()">Connexion</button>
        <p id="login-status"></p>
    </div>
    

    <footer class="footer">
        <p>&copy; 2023 Learn or Fight. Tous droits réservés.</p>
    </footer>

    <script src="../scripts/script.js"></script>
</body>
</html>
