<!-- views/login.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="stylesheets/reglog.css">
    <title>Login</title>
</head>

<body>
    <%- include ('header.ejs') %>


<div class="login-container">
    <% if (fontColor != "red") { %>
        <h2>Login</h2>
    <% } else { %>
        <h2 style="color: <%= fontColor %>;">Login</h2>
        <p style="color: <%= fontColor %>;"><%= errorMessage %></p>
    <% } %>
    
    <form class="login-form" action="/login-data" method="post">
        <div class="form-group">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
        </div>
        <div class="form-group">
            <button type="submit">Login</button>
        </div>
    </form>

    <div class="form-group" action="/register" method="post">
        <button onclick="window.location.href='/register'">Register</button>
    </div>
</div>

</body>
</html>
