body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

a {
    text-decoration: none;
}

.topbar {
    top: 0;
    width: 100%;
    position: absolute;
    background-color: #333; /* Couleur de fond de la barre de navigation */
    color: #fff; /* Couleur du texte */
}

.navbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 65px;
}

.left{
    font-size: large;
    font-weight: 700;
    display: flex;
    margin: 10px 20px;
    gap: 25px;
    align-items: center;
    width: 50%;
}
.right{
    display: flex;
    margin: 10px 20px;
    gap: 15px;
    justify-content: flex-end;
    align-items: center;
}

.right a{
    padding: 10px;
    background-color: #4caf50;
    border-radius: 10px;
    transition: 0.3s;
}
.right a:hover{
    background-color: #50ce54;
}

.navbar a {
    color: #fff; /* Couleur des liens */
    text-decoration: none; /* Supprime le soulignement des liens */
}


.right button{
    padding: 12px;
    background-color: #4caf50;
    border-radius: 10px;
    transition: 0.3s;
}
.right button:hover{
    background-color: #50ce54;
}

.navbar button {
    color: #fff; /* Couleur des liens */
    text-decoration: none; /* Supprime le soulignement des liens */
    border: none;
}

